<div class="section-top-border">
    <h3 class="mb-30">@Resources.ElmentCollectionPage.LeftToRightText</h3>
    <div class="row">
        <div class="col-md-3">
            <img src="/pics/d.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-9 mt-sm-20">
            <p>@Resources.ElmentCollectionPage.TextLorem</p>
        </div>
    </div>
</div>
@*<div class="section-top-border text-right">
    <h3 class="mb-30">@Resources.ElmentCollectionPage.LeftToRightText</h3>
    <div class="row">
        <div class="col-md-9">
            <p class="text-right">@Resources.ElmentCollectionPage.TextLorem</p>
        </div>
        <div class="col-md-3">
            <img src="/pics/d.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>*@