 <!-- Start Button -->
    <section class="button-area">
        <div class="container border-top-generic">
            <h3 class="text-heading">@Resources.ElmentCollectionPage.SampleButton</h3>
            <div class="button-group-area">
                <a href="#" class="genric-btn default">Default</a>
                <a href="#" class="genric-btn primary">Primary</a>
                <a href="#" class="genric-btn success">Success</a>
                <a href="#" class="genric-btn info">Info</a>
                <a href="#" class="genric-btn warning">Warning</a>
                <a href="#" class="genric-btn danger">Danger</a>
                <a href="#" class="genric-btn link">Link</a>
                <a href="#" class="genric-btn disable">Disable</a>
            </div>
            <div class="button-group-area mt-10">
                <a href="#" class="genric-btn default-border">Default</a>
                <a href="#" class="genric-btn primary-border">Primary</a>
                <a href="#" class="genric-btn success-border">Success</a>
                <a href="#" class="genric-btn info-border">Info</a>
                <a href="#" class="genric-btn warning-border">Warning</a>
                <a href="#" class="genric-btn danger-border">Danger</a>
                <a href="#" class="genric-btn link-border">Link</a>
                <a href="#" class="genric-btn disable">Disable</a>
            </div>
            <div class="button-group-area mt-40">
                <a href="#" class="genric-btn default radius">Default</a>
                <a href="#" class="genric-btn primary radius">Primary</a>
                <a href="#" class="genric-btn success radius">Success</a>
                <a href="#" class="genric-btn info radius">Info</a>
                <a href="#" class="genric-btn warning radius">Warning</a>
                <a href="#" class="genric-btn danger radius">Danger</a>
                <a href="#" class="genric-btn link radius">Link</a>
                <a href="#" class="genric-btn disable radius">Disable</a>
            </div>
            <div class="button-group-area mt-10">
                <a href="#" class="genric-btn default-border radius">Default</a>
                <a href="#" class="genric-btn primary-border radius">Primary</a>
                <a href="#" class="genric-btn success-border radius">Success</a>
                <a href="#" class="genric-btn info-border radius">Info</a>
                <a href="#" class="genric-btn warning-border radius">Warning</a>
                <a href="#" class="genric-btn danger-border radius">Danger</a>
                <a href="#" class="genric-btn link-border radius">Link</a>
                <a href="#" class="genric-btn disable radius">Disable</a>
            </div>
            <div class="button-group-area mt-40">
                <a href="#" class="genric-btn default circle">Default</a>
                <a href="#" class="genric-btn primary circle">Primary</a>
                <a href="#" class="genric-btn success circle">Success</a>
                <a href="#" class="genric-btn info circle">Info</a>
                <a href="#" class="genric-btn warning circle">Warning</a>
                <a href="#" class="genric-btn danger circle">Danger</a>
                <a href="#" class="genric-btn link circle">Link</a>
                <a href="#" class="genric-btn disable circle">Disable</a>
            </div>
            <div class="button-group-area mt-10">
                <a href="#" class="genric-btn default-border circle">Default</a>
                <a href="#" class="genric-btn primary-border circle">Primary</a>
                <a href="#" class="genric-btn success-border circle">Success</a>
                <a href="#" class="genric-btn info-border circle">Info</a>
                <a href="#" class="genric-btn warning-border circle">Warning</a>
                <a href="#" class="genric-btn danger-border circle">Danger</a>
                <a href="#" class="genric-btn link-border circle">Link</a>
                <a href="#" class="genric-btn disable circle">Disable</a>
            </div>
            <div class="button-group-area mt-40">
                <a href="#" class="genric-btn default circle arrow">Default<span class="lnr lnr-arrow-right"></span></a>
                <a href="#" class="genric-btn primary circle arrow">Primary<span class="lnr lnr-arrow-right"></span></a>
                <a href="#" class="genric-btn success circle arrow">Success<span class="lnr lnr-arrow-right"></span></a>
                <a href="#" class="genric-btn info circle arrow">Info<span class="lnr lnr-arrow-right"></span></a>
                <a href="#" class="genric-btn warning circle arrow">Warning<span class="lnr lnr-arrow-right"></span></a>
                <a href="#" class="genric-btn danger circle arrow">Danger<span class="lnr lnr-arrow-right"></span></a>
            </div>
            <div class="button-group-area mt-10">
                <a href="#" class="genric-btn default-border circle arrow">Default<span class="lnr lnr-arrow-right"></span></a>
                <a href="#" class="genric-btn primary-border circle arrow">Primary<span class="lnr lnr-arrow-right"></span></a>
                <a href="#" class="genric-btn success-border circle arrow">Success<span class="lnr lnr-arrow-right"></span></a>
                <a href="#" class="genric-btn info-border circle arrow">Info<span class="lnr lnr-arrow-right"></span></a>
                <a href="#" class="genric-btn warning-border circle arrow">Warning<span class="lnr lnr-arrow-right"></span></a>
                <a href="#" class="genric-btn danger-border circle arrow">Danger<span class="lnr lnr-arrow-right"></span></a>
            </div>
            <div class="button-group-area mt-40">
                <a href="#" class="genric-btn primary e-large">Extra Large</a>
                <a href="#" class="genric-btn success large">Large</a>
                <a href="#" class="genric-btn primary">Default</a>
                <a href="#" class="genric-btn success medium">Medium</a>
                <a href="#" class="genric-btn primary small">Small</a>
            </div>
            <div class="button-group-area mt-10">
                <a href="#" class="genric-btn primary-border e-large">Extra Large</a>
                <a href="#" class="genric-btn success-border large">Large</a>
                <a href="#" class="genric-btn primary-border">Default</a>
                <a href="#" class="genric-btn success-border medium">Medium</a>
                <a href="#" class="genric-btn primary-border small">Small</a>
            </div>
        </div>
    </section>
    <!-- End Button -->