<!-- Start Sample Area -->
<section class="sample-text-area">
    <div class="container">
        <h3 class="text-heading">@Resources.ElmentCollectionPage.SampleText</h3>
        <p class="sample-text">@Resources.ElmentCollectionPage.TextLorem</p>
    </div>
</section>
<!-- End Sample Area -->