<div class="main-wrapper">
    <!-- Start Header Content -->
    <div class="banner-area">
        <div class="container">
            <div class="row height justify-content-center align-items-center">
                <div class="col-lg-5">
                    <div class="banner-content">
                        <h1>@Resources.SeactionOneMainPage.TemplateTerxt</h1>
                        <p class="text-white">@Resources.SeactionOneMainPage.text</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Start Header Video -->
                    <div class="banner-video">
                        <div class="overlay overlay-bg"></div>
                        <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="play-btn"><img src="~/pics/play-btn.png" alt=""></a>
                    </div>
                    <!-- End Header Video -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Content -->
</div>