<!DOCTYPE html>
<html>
<head lang="en" dir="ltr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inmotion</title>
    <partial name="PartialViews/LTRCssPartial/LinkCssPartialViewRTL"/>
</head>
<body dir="ltr">
<partial name="PartialViews/LayotsPartial/HeaderPartialViewRTL"/>
@RenderBody()
<partial name="PartialViews/LayotsPartial/FooterPartialViewRTL"/>
<partial name="PartialViews/LayotsPartial/LinkSciptPartialViewRTL"/>
</body><!-- This template has been downloaded from Webrubik.com -->
</html>